<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>383629305501-0opasvjhai9pfqm8k6qbla7ce3recj16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383629305501-0opasvjhai9pfqm8k6qbla7ce3recj16</string>
	<key>API_KEY</key>
	<string>AIzaSyD0J1Gy8D6VUgf1u8tVBZIKV9Y8G50h9Zk</string>
	<key>GCM_SENDER_ID</key>
	<string>383629305501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Brio.Briopower</string>
	<key>PROJECT_ID</key>
	<string>briopower-qa</string>
	<key>STORAGE_BUCKET</key>
	<string>briopower-qa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383629305501:ios:e33cbabe03f7b1b7</string>
	<key>DATABASE_URL</key>
	<string>https://briopower-qa.firebaseio.com</string>
</dict>
</plist>