<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1081674559720-3uoi42m2klbu6l84c04d9l6cqbjj6984.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081674559720-3uoi42m2klbu6l84c04d9l6cqbjj6984</string>
	<key>API_KEY</key>
	<string>AIzaSyBthCPpuEooFElp3F1p71Us4Ith0-ID2Cg</string>
	<key>GCM_SENDER_ID</key>
	<string>1081674559720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.finoit.ActionableHealth</string>
	<key>PROJECT_ID</key>
	<string>briopower-uat</string>
	<key>STORAGE_BUCKET</key>
	<string>briopower-uat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081674559720:ios:82d16c6cb21c6a83</string>
	<key>DATABASE_URL</key>
	<string>https://briopower-uat.firebaseio.com</string>
</dict>
</plist>
